
main {
  position: relative;
  left: 50px;
  padding-top: 50px;
  margin: 0px; 
  // height: 100%;
  width: calc(100% - 50px);
  &.menu-expanded {
    left: 170px;
    width: calc(100% - 170px);
  }
}

.location-map-container {
  height: calc(100% - 64px)
}
