<h2 mat-dialog-title>Causal Test - Source Data</h2>

<mat-dialog-content class="mat-typography body-content">
  <div class="grid-content">
    <div class="grid-container">
      <ag-grid-angular
        class="ag-theme-balham data-grid"
        [rowData]="outputs" 
        [columnDefs]="outputsColDefs"
        rowSelection="single"
        (componentStateChanged)="onGridReady($event)"
        (gridSizeChanged)="onGridSizeChanged($event)"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>        
    </div>
  </div> 
  <div *ngIf="outputs.length > 0" class="row-count">
    <div class="row-text">
      {{outputs.length | number}} rows displayed
    </div>
  </div>

</mat-dialog-content>
  
<mat-dialog-actions align="end" style="position: relative">
  <button class="btn-cancel" (click)="onClose()">Close</button>  
</mat-dialog-actions>